<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h1>Lesson 3</h1>
        <h2>Objective</h2>
        <p>Alarms or signals sometimes beep a fixed number of times. Explore how to make the Linkbot beep a fixed 
            number of times and then go silent. Make the Linkbot beep five times with a duration of 1 second.</p>
        <div class="code-snippet">
            <pre><code class="hljs python"><div ng-show="m.displayAllCode"><span class="hljs-comment">#!/usr/bin/env python3</span>

<span class="hljs-comment"># Filename: Lesson03.py</span>
import linkbot
import <span class="hljs-keyword">time</span>

robot = linkbot.Linkbot('<span class="hljs-string" ng-bind="m.robot.id"></span>')</div>
<span class="hljs-keyword">for</span> i in range (<span ng-model="m.counter" contenteditable="true" class="hljs-number">5</span>):
    robot.setBuzzerFrequency(<span ng-model="m.buzzer" contenteditable="true" class="hljs-number">4186.01</span>)
    <span class="hljs-keyword">time</span>.<span class="hljs-keyword">sleep</span>(<span ng-model="m.sleep1" contenteditable="true" class="hljs-number">1</span>)
    robot.setBuzzerFrequency(<span class="hljs-number">0</span>)
    <span class="hljs-keyword">time</span>.<span class="hljs-keyword">sleep</span>(<span ng-model="m.sleep2" contenteditable="true" class="hljs-number">1</span>)
            </code></pre>
            <span ng-click="toggle()" class="code-snippet-tab glyphicon" ng-class="{'glyphicon-chevron-down': !m.displayAllCode, 'glyphicon-chevron-up': m.displayAllCode}"></span>
        </div>
        <button class="btn btn-primary" ng-class="{true: 'disabled'}[m.robot == null || m.running]" ng-click="run()">Run</button>
        <h2>Explore</h2>
        <p>
            Make the Linkbot beep 10 times at a faster rate. Try to make an emergency vehicle siren.
        </p>
        <hr />
        <div class="clearfix">
            <a href="#/lesson-two" ng-click="stopAcquisition()" class="btn btn-default pull-left">Prev</a>
            <a href="#/lesson-four" ng-click="stopAcquisition()" class="btn btn-default pull-right">Next</a>
        </div>
    </div>

</div>