<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h1>Lesson 8a</h1>
        <h2>Both Linkbots blink together at the same rate.</h2>
        <h3>Objective</h3>
        <p>This example will ID two Linkbots and control them to blink their LED at the same time.</p>
        <pre>
import barobo
import time
dongle = barobo.Dongle()
dongle.connect()
robot1 = dongle.getLinkbot('9418')#ID for first Linkbot
robot2 = dongle.getLinkbot('6wbn')#ID for second Lnkbot
for i in range (1,8): #does the following block 7 times
    robot1.setLEDColor(255,0,0)#changes LED on robot1 to red
    robot2.setLEDColor(255,0,0)#changes LED on robot2 to red
    time.sleep(.5) #waits half a second
    robot1.setLEDColor(0,0,0) #turns off the LED
    robot2.setLEDColor(0,0,0)
    time.sleep(.5)# waits half a second
robot1.setLEDColor(0,0,255) #turns LED to blue
robot2.setLEDColor(0,0,255) #turns LED to blue
        </pre>
        <h3>Explore</h3>
        <p>Have the Linkbots blink 10 times, alternating between green and red.</p>
        <hr />
        <div class="clearfix">
            <a href="#/lesson-seven" class="btn btn-default pull-left">Prev</a>
            <a href="#/lesson-eight-b" class="btn btn-default pull-right">Next</a>
            <a href="#/" class="btn btn-default center-block">Table of Contents</a>
        </div>
    </div>
</div>