<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h1>Lesson 7c - Linkbots Complex blinking.</h1>
        <h2>Objective</h2>
        <p>One Linkbot blinks three times then pauses two seconds while staying on.
            A second Linkbot then blinks twice, pauses one second, and goes out again. Repeat process four times.</p>
        <div hljs>
#!/usr/bin/env python3

# Filename: Lesson07c.py

import linkbot
import time

robot1 = linkbot.Linkbot('HJBP')#ID for first Linkbot
robot2 = linkbot.Linkbot('7ZZL')#ID for second Lnkbot
for i in range (1,5): #does the following block 4 times
    for k in range (1,4): #does the following block 3 times
        robot1.setLedColor(255,0,0)#changes LED on robot1 to red
        robot2.setLedColor(0,0,0)#turns LED on robot2 to off
        time.sleep(.5) #waits half a second
        robot1.setLedColor(0,0,0) #turns LED on robot1 off
        robot2.setLedColor(0,0,0)#turns LED on robot2 off
        time.sleep(.5)# waits half a second
    robot1.setLedColor(255,0,0)
    time.sleep(2)
    for k in range (1,3):  #does the following block 2 times
        robot2.setLedColor(255,0,0)#turns LED on robot2 to red
        time.sleep(.5) #waits half a second
        robot2.setLedColor(0,0,0)#turns LED on robot2 off
        time.sleep(.5)# waits half a second
    time.sleep(1)
robot1.setLedColor(0,0,255) #returns LED to blue
robot2.setLedColor(0,0,255) #returns LED to blue
        </div>
        <h2>Explore</h2>
        <p>Have the Linkbots switch roles.</p>
        <hr />
        <div class="clearfix">
            <a href="#/lesson-seven-b" class="btn btn-default pull-left">Prev</a>
        </div>
    </div>
</div>