<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h1>Lesson 7a - Both Linkbots blink together at the same rate.</h1>
        <h2>Objective</h2>
        <p>This example will ID two Linkbots and control them to blink their LED at the same time.</p>
        <div hljs>
#!/usr/bin/env python3

# Filename: Lesson07a.py

import linkbot
import time

robot1 = linkbot.Linkbot('HJBP')#ID for first Linkbot
robot2 = linkbot.Linkbot('7ZZL')#ID for second Linkbot
for i in range (1,8): #does the following block 7 times
    robot1.setLedColor(255,0,0)#changes LED on robot1 to red
    robot2.setLedColor(255,0,0)#changes LED on robot2 to red
    time.sleep(.5) #waits half a second
    robot1.setLedColor(0,0,0) #turns off the LED
    robot2.setLedColor(0,0,0)
    time.sleep(.5)# waits half a second
robot1.setLedColor(0,0,255) #turns LED to blue
robot2.setLedColor(0,0,255) #turns LED to blue
        </div>
        <h2>Explore</h2>
        <p>Have the Linkbots blink 10 times, alternating between green and red.</p>
        <hr />
        <div class="clearfix">
            <a href="#/lesson-six" class="btn btn-default pull-left">Prev</a>
            <a href="#/lesson-seven-b" class="btn btn-default pull-right">Next</a>
        </div>
    </div>
</div>