<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h1>Lesson 7</h1>
        <h2>Changing the LED intensity using the wheel angle as an input device.</h2>
        <h3>Objective</h3>
        <p>In this example the wheel is used as an input to change the intensity of the LED.
            To manually set the joint angle to zero before you start, press the "A" and "B" buttons
            at the same time until the LED flashes. Then run the program to see what happens. Continue changing
            the joint one angle to see the LED change intensity. </p>
        <pre>
import barobo
dongle = barobo.Dongle()
dongle.connect()
robot = dongle.getLinkbot('9418') #enter the linkbot ID
robot.setLEDColor(255,0,0)#sets the led to red
for i in range(1,4):  #gets current joint angles and prints the result
        print ("Joint {0} angle: {1}".format(i, robot.getJointAngle(i)))
joint_one=robot.getJointAngle(1)#gets joint_one value and stores it
print(joint_one)  #prints joint_one value
intensity=abs(int(joint_one*255/180))  #changes joint_one to a range of values 0 to 255
print(intensity)  #prints the intensity value
robot.setLEDColor(intensity,0,0)  #sets LED to intensity level of current joint_one angle

        </pre>
        <h3>Explore</h3>
        <p>Change the values to make the LED green and change intensity when the wheel is turned.</p>
        <hr />
        <div class="clearfix">
            <a href="#/lesson-six" class="btn btn-default pull-left">Prev</a>
            <a href="#/lesson-eight-a" class="btn btn-default pull-right">Next</a>
            <a href="#/" class="btn btn-default center-block">Table of Contents</a>
        </div>
    </div>
</div>