<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h1>Lesson 4</h1>
        <h2>Getting the LED to change color based on a set amount of time, like a traffic light.</h2>
        <h3>Objective</h3>
        <p>In this lesson you will learn how a traffic signal micro processor is programmed.
            You will control the amount of time the light stays yellow based on the posted speed
            limit and the accepted speed limit, that is, the speed the traffic actually moves.
            According to highway and safety engineers the safe stopping rate for an automobile is
            15 feet/second. Adding reaction time of about 1.5 seconds to decide you are going to
            stop, at 30 mph (44 feet/second) it would take 4 seconds to safely stop a car. A simplified
            formula is stop_time=(1.467*MPH)/15+1.5. Design a traffic light that safely allows a car to
            stop in a 30 MPH zone.</p>
        <pre>
import barobo
dongle = barobo.Dongle()
dongle.connect()
robot = dongle.getLinkbot('9418')
import time
mph=float(input("mph="))
print(mph)
yellow_time=(1.467*mph/15.0+1.5)
print(yellow_time)
time.sleep(3.0)
robot.setLEDColor(0,255,0)
time.sleep(3)
robot.setLEDColor(255,255,0)
time.sleep(yellow_time)
robot.setLEDColor(255,0,0)
        </pre>
        <h3>Explore</h3>
        <p>Design a traffic signal that will safely allow a car to stop in a 50 MPH speed limit zone.</p>
        <hr />
        <div class="clearfix">
            <a href="#/lesson-three" class="btn btn-default pull-left">Prev</a>
            <a href="#/lesson-five" class="btn btn-default pull-right">Next</a>
            <a href="#/" class="btn btn-default center-block">Table of Contents</a>
        </div>
    </div>
</div>