<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h1>Chapter 2 Introduction to Python</h1>
        <h2>Changing the LED on the Linkbot and how it works.</h2>
        <ol>
            <li><a href="#/lesson-one">What is an LED and how it works. RGB and color.</a></li>
            <li><a href="#/lesson-two">Blinking the LED at different rates.</a></li>
            <li><a href="#/lesson-three">Getting the LED to change color and blink a set number of times then change colors.</a></li>
            <li><a href="#/lesson-four">Getting the LED to change color based on a set amount of time, like a traffic light.</a></li>
            <li><a href="#/lesson-five">Getting the LED to change color based on an input, like pressing the "A" button.</a></li>
            <li><a href="#/lesson-six">The Linkbot will measure your reaction time. The LED will change color from red to green and the "A" button is depressed as soon as possible.</a></li>
            <li><a href="#/lesson-seven">Changing the LED intensity using the wheel angle as an input device.</a></li>
            <li>
                <a href="#/lesson-eight-a">Timing challenge, LED’s on the Linkbots act according to a particular situation.</a>
                <ol type="a">
                    <li><a href="#/lesson-eight-a">Both Linkbots blink together at the same rate.</a></li>
                    <li><a href="#/lesson-eight-b">Linkbots alternate blinking.</a></li>
                    <li><a href="#/lesson-eight-c">Linkbots Complex blinking.</a></li>
                </ol>
            </li>

        </ol>
    </div>
</div>