<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h1>Lesson 1</h1>
        <h2>Objective</h2>
        <p>In this lesson the Linkbot learns to move forward. By changing the code you can make the
            Linkbot move a set distance.</p>

        <div class="code-snippet">
            <pre><code class="hljs coffeescript"><div ng-show="m.displayAllCode"><span class="hljs-comment">#!/usr/bin/env python</span>
<span class="hljs-comment"># File: ch3lesson1.py</span>

<span class="hljs-reserved">import</span> linkbot

<span class="hljs-comment"># Change the robot ID shown below to the ID of your Linkbot.</span>
robot = linkbot.Linkbot('<span class="hljs-string" ng-bind="m.robot.id"></span>')</div>
robot.setJointSpeeds(<span class="hljs-number">90</span>, <span class="hljs-number">0</span>, <span class="hljs-number">90</span>)
robot.move(<span class="hljs-number">360</span>, <span class="hljs-number">0</span>, <span class="hljs-number">-360</span>)
            </code></pre>
            <span ng-click="toggle()" class="code-snippet-tab glyphicon" ng-class="{'glyphicon-chevron-down': !m.displayAllCode, 'glyphicon-chevron-up': m.displayAllCode}"></span>
        </div>
        <button class="btn btn-primary" ng-class="{true: 'disabled'}[m.robot == null || m.running]" ng-click="run()">Run</button>
        <h2>Explore</h2>
        <p>Find the distance the Linkbot will travel with one revolution of the wheels.</p>
        <hr />
        <div class="clearfix">
            <a href="#/drivers-ed-challenge" ng-click="stopAcquisition()" class="btn btn-default pull-left">Prev</a>
            <a href="#/lesson-two" ng-click="stopAcquisition()" class="btn btn-default pull-right">Next</a>
        </div>
    </div>

</div>