.lllogo {
  margin-left: 2em;
  margin-top: 1em;
}

.app-list img {
  width: 300px;
  height: 300px;
}

.blocklets>li>a {
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: #abdadb;
	color: black;
	text-align: center;
	padding-top: 85px;
	font-size: 22px;
	font-weight: bold;
}
.blocklets>li>a:focus, .blocklets>li>a:hover {
	background-color: #2b88aa;
}
