/* For SVG */
.piano-key.white {
    fill: white;
    stroke: black;
    transition: fill 0.15s;
    transition-timing-function: ease;
}

.piano-key.black {
    fill: black;
    stroke: black;
    transition: fill 0.15s;
    transition-timing-function: ease;
}

.piano-key.playing {
    fill: blue;
}

/* For HTML */
.piano {
    -webkit-user-select: none;
}

body {
    margin-left: 1in;
    margin-right: 1in;
}

#robot-id-entry {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.piano {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    overflow: hidden;
}

.piano-keys {
    float: left;
}

pre {
  display: block;
  border: 0px;
  padding: 0;
  margin: 0 0 0;
  background-color:#e0fefe;
}

div.code-snippet {
  max-width:483px;  /* PianoKeyboard.svg is 161px, and there are three of them */
  border-radius: 6px;
  border:solid;
  border-width:1px;
  border-color:#888;
  padding:5px;
  padding-left:5px;
  position: relative;
  box-shadow:5px 5px 5px #888888;
  background-color:#e0fefe;
}

.hider-tab {
  border: inherit;
  border-radius: inherit;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: inherit;
  position: absolute;
  right: 20%;
  bottom: -21px; /* -(height of image specified in html + border of parent) */
  text-align: center;
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
}

.hider-tab img {
    height: 20px;
    width: 40px;
}

pre.hidden {
    display: none;
}

#robot-id {
    border-style: double;
    border-width: 0.25em;
}

#robot-id.error {
    border-style: solid;
    border-color: red;
}

#robot-id.connected {
    border-style: solid;
    border-color: green;
}
