.eqn-control span.activeControl {
    font-weight: bold;
    font-size: 2em;
}

.eqnCheckbox {
    font-size: 3em;
}

.eqnCheckboxYes {
    color: green;
}

.leftEqn {
    color: red;
}
.rightEqn {
    color: blue;
}
